@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: "PEOPLE BOOK";
  src: url("../font/PEOPLE\ BOOK.otf");
}
@font-face {
  font-family: "Typographie";
  src: url("../font/Typography.otf");
}
@font-face {
  font-family: "LEMONMILK-Regular";
  src: url("../font/LEMONMILK-Regular.otf");
}
#menu-btn{
  display: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/*  */
header{
  font-family: "Poppins", sans-serif;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}

header .brand{
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation{
  position: relative;
}

header .navigation .navigation-items a{
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
  width: 100%;
}

/* -----------------------------HOME-------------------------- */

.home{
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #2696E9;
  padding: 100px 200px;
}

.home:before{
  z-index: 777;
  content: '';
  position: absolute;
  background: rgba(3, 96, 251, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content{
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
}

.home .content.active{
  display: block;
}

.home .content h1{
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}

.home .content h1 span{
  font-size: 1.2em;
  font-weight: 600;
}

.home .content p{
  margin-bottom: 65px;
}

.home .content a{
  background: #fff;
  padding: 15px 35px;
  color: #1680AC;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
}

.home .media-icons{
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}

.home .media-icons a{
  color: #fff;
  font-size: 1.6em;
  transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
  margin-bottom: 20px;
}

.home .media-icons a:hover{
  transform: scale(1.3);
}

.home img{
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------------------------INTERESTS------------------------- */

.INTERESTS{
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient( #A9A8B9, white);
  
 
}

.INTERESTS h1{
  text-align: center;
  color: white;
  font-size: 500%;
  
}

.INTERESTS>img{
  position: absolute;
  margin-left: 39%;
  margin-top: 15%;
  width: 25%;
}


#animation{
  
  background-color: white; border-radius:13px ;
  padding: 20px 20px;
  margin-left: 15%;
  font-family: "PEOPLE BOOK";
  width: 350px;
  height: 370px;
  text-align: center; 

  
}



#animation>img{
  width: 100%;
  border-radius: 13px;
  margin-top: 9px;
}

#animation>h2{
  font-size: 250%;
  margin-top: 7%;
  font-weight: lighter;
}

#paragraphe{
  font-family: "Typographie";
  text-align: center;
  margin-left: 50%;
  font-size: 200%;
  position: absolute;
  margin-left: 65%;
  margin-top: 10%;
}


#others{
  display: flex;
  margin-left: 6%;
  font-family: "PEOPLE BOOK";
  margin-top: -15%;
  text-align: center;
  margin-top: 2%;
  
}

 #design{
  background-color: white; border-radius:13px ; 
  padding: 20px 20px;
  width: 300px;
  height: 300px;
  
  
 } 

 #design a>img{
  width: 100%;
  border-radius: 13px;
  margin-top: 13px;
 }

 #design a>h3{
  font-size: 200%;
  margin-top: 7%;
  font-weight: lighter;
  color: black;
  text-decoration: none;
  border-bottom-style: none; 
 }

 #programmation{
  background-color: white; border-radius:13px ; margin-left: 2%; 
  padding: 20px 20px;
  width: 300px;
  height: 300px;
 }

 #programmation a>img{
  width: 100%;
  border-radius: 13px;
  margin-top: 13px;
  background-color: #AE9292;
 }

 #programmation a>h3{
  font-size: 35px;
  margin-top: 12%;
  font-weight: lighter;
  color: black;
  text-decoration: none;
  border-bottom-style: none; 
 }







/*------------------------SKILLS--------------------------- */

.SKILLS{
  background-image:url("../img/fond\ compétences.jpg");
  background-size: cover;
  margin-top: 50px;
  font-family: 'LEMONMILK-Regular';
  
}
.SKILLS h1{
 
  text-align: center;
  color: black;
  font-size: 500%; 
}

.COMPETENCES{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  background-color: #f5f5dc95;
  border-radius: 50px;
  padding: 20px;
  width: 80%;
  margin-bottom: 20px;
  margin: auto;
 
}

/* .COMPETENCES h2{
  transform : rotate(-90deg);
  font-family: "Poppins";
  font-size: 450%;
  margin-right: 500px;
} */

.personnelles{
  margin-left: 10%;
}


.personnelles img{
  width: 45%;
  
}

.personnelles h4{
  margin-left: 5%;
}

.software{
  margin-right: 5%;
}



.htmlcsscsharp img{
  width: 45%;
}

#js img{
  width: 40%;
}

#unity img{
  width: 50%;
}

/* ------------------RESSOURCES------------------------------ */

.RESSOURCES{
  background-color: #4C4BC2;
  font-family: "Poppins", sans-serif;
  
}


.RESSOURCES h1{
  text-align: center;
  color: white;
  font-size: 500%;
  
}

.RESSOURCES img{
 margin-left: 35%; 
}

.RESSOURCES hr{
    border: 1px solid white;
    border-radius: 3px;
    width: 60%;
    margin-left: 20%;
    margin-top: -12%;
    
}

#ref{
  position: absolute;
  margin-top: 14%;
  left: 10%;
}

#act{
  position: absolute;
  margin-top:14%;
  left: 80.4%;
}


.RESSOURCES a{
  color: white;
}





/* ----------------CONTACT------------------------------ */
.CONTACT{
  
  background-color: #4C4BC2;
  font-family: "Poppins", sans-serif;
  padding: 20%;
}


::-webkit-scrollbar{
  width: 0;
}

.CONTACT h1{
  margin-top: -16%;
  margin-left: 6%;
  color: rgb(255, 255, 255);
  font-size: 500%;
  position: absolute;
}

#fond{
width: 35%;
position: absolute;
margin-top: -26%;
right: 0;

}

#ordi{
  position: absolute;
  left: 7%;
  width: 47%;
  margin-top: -4%;
}

#form-main{
  position: absolute;
  margin-left: 60%;
  margin-top: -6%;
}


















.topnav{
  display:none
}




@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }

  section{
    padding: 100px 20px;
  }

  .home .media-icons{
    right: 15px;
  }

  header .navigation{
    display: none;
  }
  .topnav{
    display:block
  }

  header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a{
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before{
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items{
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn{
    background: url(menu.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active{
    z-index: 999;
    background: url(close.png)no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
}






@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


#feedback-page{
	text-align:center;
}

#text-feedback{
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	background-color:white;
	text-align:center;
}

#form-main{
	float:left;
	padding-top:30px;
  left: 0;
}

#form-div {
	background-color:#8E929B;
	border-radius: 30px;
  padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	position: absolute;
}

.feedback-input {
	opacity:0.9;
	color:#0493bd;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight:400;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
  border: 3px solid #fbfbfb;
  border-radius: 30px;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Helvetica, Arial,  sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #465375;
  border-radius: 20px;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
  border-top:3px #3c3c3c solid;
	width: 0px;
	height: 76px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}







/* @media (max-width: 560px){
  .home .content h1{
    font-size: 3em;
    line-height: 60px;
  }
} */

